/* =============
    Section 1
============= */

// #section-1{
//     background-image: url('../img/section-1/cartera.jpg');
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     height: 50vh;

#section-1{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-1 ." ;

    @include md{
        grid-template-columns: 10% auto 10%;
        grid-template-areas: ". section-1 ." ;
    }

    @include md{
        height: 60vh;
    }

    @include lg{
        height: 70vh;
    }

    @include xl{
        height: 50vh;
    }

    h1{
        font-size: rem-calc(40);
        color: $hot-pink; 

        span{
            color: $hot-pink;
        }
    }
}










// #section-1{
//     display: grid;
//     grid-template-columns: 15px auto 15px;
//     grid-template-areas: ". section-1 .";
//     #section-1-content{
//         grid-area: section-1;
//         img{
//             width: 100%;
//         }
//     }
    
// }